
<!DOCTYPE html>
<html>
<head>
<title>Github Basics</title>
</head>
<body>
<h1>Github Basics</h1>

<h2>Creating an Account</h2>

<p>To create a Github account, visit the Github website and click on the "Sign Up" button.</p>

<p>You will be prompted to enter your name, email address, and a password. Once you have entered this information, click on the "Create Account" button.</p>

<h2>Creating a Repository</h2>

<p>Once you have created a Github account, you can create a repository. A repository is a place where you can store your code.</p>

<p>To create a repository, click on the "New Repository" button on the Github homepage.</p>

<p>You will be prompted to enter a name for your repository. Once you have entered a name, click on the "Create Repository" button.</p>

<h2>Pushing Code to a Repository</h2>

<p>Once you have created a repository, you can push code to it. To do this, you will need to use the Git command line tool.</p>

<p>If you do not have Git installed, you can download it from the Git website.</p>

<p>Once you have Git installed, you can open a terminal window and navigate to the directory where your code is located.</p>

<p>Then, you can use the following command to push your code to your repository:</p>

<code>git push origin master</code>

<p>This command will push your code to the master branch of your repository.</p>
</body>
</html>


